@import url("dark-chroma.css");

a {
	color: #FF4365;
}

h1, h2, h3, h4, h5 {
    color: #FF4365;
}

.highlight > * {
	border-color: #F9C80E;
}

:not(pre) > code {
	/* inline code elements */
	background-color: rgba(90, 90, 90, 0.25);
}

a > code {
	background-color: rgba(65, 65, 170, 0.3);
}

.section-list li > * {
	background-color: rgba(90, 90, 90, 0.25);
}

.section-list li > a {
	background-color: rgba(65, 65, 170, 0.3);
}

body {
	color: #F9C80E;
	background-color: #791E94;
	background-image: url(../../images/sunset.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center; 
}

blockquote {
	color: rgb(170, 170, 170);
	border-left: 0.25em solid #444;
}

hr {
	border: 1px solid rgb(110, 110, 110);
}

img.color-adapting-image,
figure.color-adapting-image img {
	filter: invert(85%) hue-rotate(180deg);
	/* hue rotate trick from: https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a */
}

.header {
	background-color: rgb(40, 40, 40); /* still want a background color before the image loads */
	background-image: url(../../images/vector.jpg);
	color: white; 
	text-shadow:1px 1px 10px cyan, 1px 1px 10px black;
}

.links, .links li {
	border-color: #383838;
}

.main {
	background-color: #540D6E;
	box-shadow: none;
}

.footer {
	color: rgb(160, 160, 160);
}

.title-header-date {
	color: rgb(150, 150, 150);
}

.title-list-date {
	color: rgb(150, 150, 150);
}

.table-of-contents {
	border-color: #F9C80E;
	background-color: #332641;
}

.table-of-contents-title {
	color: #FF4365;
}


.notice {
	border-width: 2px;
	border-style: solid;
	border-top: 0;
}

.notice .notice-title .notice-title-icon {
	filter: invert(80%);
}

.notice.note {
	background-color: #001320;
	border-color: #00487B;
}

.notice.note .notice-title {
	background-color: #00487B;
}

.notice.tip {
	background-color: #132000;
	border-color: #105600;
}

.notice.tip .notice-title {
	background-color: #105600;
}

.notice.warning {
	background-color: #200000;
	border-color: #700000;
}

.notice.warning .notice-title {
	background-color: #700000;
}

@media only screen and (max-width: 400pt) {
	.links {
		background-color: rgb(23, 23, 23);
	}
}
