@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.item1 {
  grid-area: myArea;
}
.header { grid-area: header;}
.lspace { grid-area: lspace; }
.main { grid-area: main;
}
.rspace {grid-area: rspace; }
.footer {grid-area: footer;}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-areas:
  'header header header header header'
  'lspace lspace  main rspace rspace'
  'lspace lspace  main rspace rspace'
  'lspace lspace  main rspace rspace'
  'lspace lspace  footer rspace rspace';
  padding: 10px;
  gap: 10px;
}
.grid-container > div {
  padding 20px 0;
  text align: center;
}

body {
  font-family: "Roboto", sans-serif;
  color: #b7c0c0;
  background-color: #151616;
} 
h1 {
  font-size: 30px;
  text-decoration: underline #ffbd00 2px;
  text-align: center;
}
h2 {
  font-size: 20;
}
code {
  color: #ffbd00; 
  background-color: #2c2d2d;
}

a:link, a:visited {
  color: #ffbd00;
  text-decoration: none;
}

a:hover, a:active {
  color: #f0c800;
}
